body {
    /* width: 100%; */
    display: flex;
}

h1 {
    font-size: 28px;
}

img {
    width: 50%;
    height: 50%;
}

.columns {
    width: 50%;
    min-height: 100vh;
}

/* Categories */
header {
    color: #FFFFFF;
    background-color: #000000;
    width: 100%;
    height: 100px;
}

header h1 {
    position: absolute;
    width: 50%;
    text-align: center;

}

nav {
    text-align: center;
    position: relative;
}

button {
    color: #FFFFFF;
    background-color: transparent;
    border: none;
}

#categories {
    background-color: #FFFFFF;
}

/* div for food images */
.selections {
    display: flex;
    flex-flow: row wrap;
    /* justify-content: center; */
    width: 100%;
    position: relative;
}

.selections ul {
    /* position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.25);
    color: #F7F5F8;
    /* text-align: center; */
    height: 50%;
    width: 500%;
    margin-left: -40px;
    display: flex;
    flex-flow: column wrap;
} 

.food {
    width: 40%;
    height: 100px;
    display: flex;
    justify-content: center;
    margin: 3%;
    position: relative;
}

.food > p {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.25);
    color: #F7F5F8;
    width: 100%;
    text-align: center;
    margin: 0;
    height: 25%;
}

/* Shopping Cart */
#shoppingcart {
    background-color: #F7F5F8;
    text-align: center;
}

