body {
    width: 100%;
    display: flex;
}

header {
    color: #FFFFFF;
    background-color: #000000;
    width: 100%;
    text-align: center;
    margin-top: -19px;
}

h1 {
    font-size: 28px;
}

button {
    color: #FFFFFF;
    background-color: #000000;
}

img {
    width: 40%;
    height: 40%;
}

.columns {
    width: 50%;
    height: 100%;
}

.breakfast {
    display: flex;
    flex-flow: row wrap;
}

#categories {
    background-color: #FFFFFF;

}

#shoppingcart {
    background-color: #F7F5F8;
    text-align: center;
}

